@import "_mixin.scss";

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../Roboto-BlackItalic.ttf") format("woff");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../Roboto-BoldItalic.ttf") format("woff");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../Roboto-MediumItalic.ttf") format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto-BlackItalic";
  max-width: 1920px;
}

.container {
  // width: 1920px;
  margin: 0 auto;
}

.middleLine {
  max-width: 384px;
  margin: 0 auto;
}

header {
  background: url("/img/banner.png");
  height: 958px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  section {
    margin-top: 308px;
    h6 {
      font-size: 24px;
      color: white;
      font-family: "Roboto-BoldItalic";
      padding: 4px 0px;
    }
    h1 {
      font-size: 80px;
      color: white;
      padding: 13px 0px;
      margin-bottom: 32px;
    }
    p {
      font-family: "Roboto-BoldItalic";
      font-size: 24px;
      color: white;
      margin-bottom: 40px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.contentTop {
  font-size: 24px;
  padding-bottom: 56px;
  padding-top: 56px;
  img {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 64px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 40px;
  }
  section {
    text {
      text-align: center;
    }
    ul {
      text-align: center;
    }
  }
}
.text-top {
  margin-bottom: 4px;
}
.text-mid {
  margin-bottom: 8px;
}
.text-bottom {
  padding-bottom: 24px;
  border-bottom: solid 1px #000000;
}
.text-top2 {
  margin-top: 28px;
  margin-bottom: 28px;
}
.text-mid2 {
  margin-bottom: 28px;
}

li {
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  margin-left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.text-top2::before {
  background-color: #891818;
}

.text-mid2::before {
  background-color: #891818;
}

.text-bottom2::before {
  background-color: #891818;
}

.contentMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: "Roboto-medium";
  padding-top: 56px;
  padding-bottom: 160px;
  @include phone{
  padding-bottom: 60px;
  }
  h2 {
    font-size: 64px;
    padding: 10px 0px;
    margin-bottom: 12px;
    text-align: center;
  }
  h6 {
    font-size: 24px;
    padding: 4px 0px;
    text-align: center;
    margin-bottom: 32px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 68px;
  }
}
.imgBar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  img{
    @include pad-l {
        max-width: 580px;
        height: 410px;
      }
      @include phone{
        max-width: 300px;
        height: 200px;
      }
  }
}
.imgTwoBar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  @include pad-l {
    flex-direction: column;
    row-gap: 50px;
    img {
      max-width: 580px;
    }
  }
  @include phone{
    img{
        max-width: 300px;
        height: 200px;
    }
  }
}
.contentLast {
  text-align: center;
  padding-top: 56px;
  h2 {
    font-size: 64px;
    padding: 10px 0px;
    margin-bottom: 16px;
  }
  h6 {
    font-size: 20px;
    height: 60px;
  }
}
.card-container {
  max-width: 1200px;
  display: flex;
  column-gap: 24px;
  margin: 0 auto;
  @include pad-l {
    flex-direction: column;
  }
  p {
    font-size: 20px;
    padding-bottom: 48px;
    padding-top: 16px;
  }
}
.card-container-mid {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin: 0 auto;
  justify-content: center;
  @include pad-l {
    flex-direction: column;
  }

  p {
    font-size: 20px;
    padding-bottom: 48px;
    padding-top: 16px;
  }
}
footer {
  background-color: black;
  padding-bottom: 64px;
  padding-top: 64px;
  color: white;
  h4 {
    font-size: 64px;
  }
  p {
    font-size: 24px;
  }
}
.footWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
